.main-content {
    margin-top: 57px !important;
    padding: 0px !important;
    /* min-height: calc(100vh - 123px); */
}

.card-header {
    padding: 4px !important;
    background: #686161 !important;
    box-shadow: none !important;
}