<body>
  <div class="loginbox">
    <img src="assets/img/avatar.png" class="avatar">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName='userName'>
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="!userName.hasError('required')">
          Please enter a valid User Name
        </mat-error> -->
        <!-- <mat-error *ngIf="userName.hasError('required')">
          User Name <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <!-- <input type="text" name="" formControlName='userName' placeholder="Enter Username"> -->
      <!-- <p>Password</p> -->
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="password" formControlName='password'>
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <mat-error *ngIf="!userName.hasError('required')">
          Please enter a valid User Name
        </mat-error> -->
        <!-- <mat-error *ngIf="userName.hasError('required')">
          User Name <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <!-- <input type="password" formControlName='password' name="" placeholder="Enter Password"> -->
      <input [disabled]="!loginForm.valid" (click)="authlogin()" type="submit" name="" value="Login">
    </form>
    <!-- <a href="#">Lost your password?</a><br> -->
  </div>

</body>